@import url('https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&display=swap');

body {
  font-family: 'Cardo', serif;
  font-size: 1.2rem;
  line-height: 1.5;
  color: #333;
  background-color: #fff;
}

.bg-color-invert{
  background-color: #262B41;
}